<!DOCTYPE html>
<html lang="{{ locale }}" class="dark">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<!-- TODO: remove once site is public + update robots.txt -->
		<meta name="robots" content="noindex">
		
		<title>{{ site.titlePrefix }}{{ title if title else site[locale].metaTitle }}</title>
		<meta name="title" content="{{ site.titlePrefix }}{{ title if title else site[locale].metaTitle }}"/>
		<meta name="description" content="{{ description if description else site[locale].metaDescription }}"/>
		
		<!-- Favicon -->
		<link rel="icon" href="{{ '/assets/favicon.png' | url }}" sizes="any">
		<link rel="icon" href="{{ '/assets/favicon.svg' | url }}" type="image/svg+xml">
		{# <link rel="apple-touch-icon" href="{{ '/assets/apple-touch-icon.png' | url }}"/> #}

		<!-- Styles -->
		<!-- TailwindCSS -->
		<link href="{{ '/assets/css/styles.css' | url }}" rel="stylesheet" type="text/css">
		<!-- Prism.js theme -->
		<link href="{{ '/assets/css/prism-one-dark.css' | url }}" rel="stylesheet" type="text/css">
		<!-- Custom styles/overrides -->
		<link href="{{ '/assets/css/custom.css' | url }}" rel="stylesheet" type="text/css">
		<!-- No script overrides -->
		<noscript><link rel="stylesheet" href="{{ '/assets/css/no-script.css' | url }}"></noscript>

		<!-- Open Graph -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ site.baseUrl }}{{ page.url | url }}">
		<meta property="og:site_name" content="{{ site.name }}">
		<meta property="og:title" content="{{ site.titlePrefix }}{{ title if title else site[locale].metaTitle }}">
		<meta property="og:description" content="{{ description if description else site[locale].metaDescription }}">
		{% set openGraphData = { url: site.baseUrl, cover: cover, title: title if title else site[locale].metaTitle, description: description if description else "" } %}
		{% renderFile "./src/_includes/templates/open-graph-image.11ty.js", openGraphData %}
		<meta property="og:image:alt" content="{{( cover.alt if cover.alt else "" ) if cover.path else site.defaultOpenGraphImageAlt }}">
		<meta property="og:image:width" content="1280">
		<meta property="og:image:height" content="640">
		<meta property="article:publisher" content="{{ site.domain }}">
		<meta property="article:section" content="{{ section }}">
		<meta property="article:tag" content="{{ tags[0] }}">
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:site" content="{{ site.twitter }}">
	</head>
	
	<body class="bg-main-light dark:bg-main-dark text-main-dark dark:text-main-light selection:bg-accent accent-accent {% if templateClass %}{{ templateClass }}{% endif %}">
		{# <div id="margins" class="w-full lg:w-4/5 mx-auto"> #}
		{# TODO: better margins, too content is too wide on large displays #}
		<div id="margins" class="w-full xl:w-11/12 2xl:w-8/12 mx-auto px-2 lg:px-16 xl:px-0">
			{% include "partials/header.njk" %}
			<main id="main-content" class="main mt-16">
				<div class="inner flex flex-col space-y-4">
					{% block content %}
					{% endblock %}
				</div>
			</main>
			{% include "partials/footer.njk" %}
		</div>
		{# <script defer src="{{ '/assets/js/prism.js' | url }}" type="module"></script> #}
		<script async src="{{ '/assets/js/app.js' | url }}"></script>
	</body>
</html>