{% extends "layouts/base.njk" %}

{% block content %}
<div class="flex flex-col space-y-3">
    {% if draft %}
        <div class="w-full bg-accent rounded-lg">
            <h4 class="font-extrabold text-main-light text-center">Draft Post</h4>
        </div>
    {% endif %}
    {% if private %}
        <div class="w-full bg-accent rounded-lg">
            <h4 class="font-extrabold text-main-light text-center">Private Post</h4>
        </div>
    {% endif %}
    <h1 class="text-5xl font-extrabold text-main-dark dark:text-main-light">
        {{ title }}
    </h1>
    <div class="flex flex-col space-x-0 space-y-4 lg:flex-row lg:space-x-16 lg:space-y-0">
        <div class="flex-grow">
            {% include "partials/blog-post-tags.njk" %}
        </div>
        <div class="lg:ml-auto text-right">
            {% include "partials/blog-post-time.njk" %}
        </div>
    </div>
</div>
{% set postData = {"translationKey": translationKey, "cover": cover} %}
{% renderFile "./src/_includes/templates/cover.11ty.js", postData %}
<div class="markdown-content inner flex flex-col space-y-4 pt-2">
    {{ content | safe }}
</div>
{% endblock %}