{% extends "layouts/base.njk" %}

{% block content %}
{# <a href="/{{ locale }}/blog/" class="back">← {{ site[locale].back }}</a> #}
<div class="flex flex-col space-y-3">
    <h1 class="text-5xl font-extrabold text-main-dark dark:text-main-light">{{ title }}</h1>
    <div class="flex flex-col space-x-0 space-y-4 lg:flex-row lg:space-x-16 lg:space-y-0">
        <div class="flex-grow">
            {% include "partials/blog-post-tags.njk" %}
        </div>
        <div class="lg:ml-auto text-right">
            {% include "partials/blog-post-time.njk" %}
        </div>
    </div>
</div>
{% renderFile "./src/_includes/templates/cover.11ty.js", cover %}
<div class="markdown-content inner flex flex-col space-y-4">
    {{ content | safe }}
</div>
{% endblock %}