/* Overall */

html {
	--main-dark: #020f19;
	--main-light: #fff;
	--accent: #ff594d;
}

body {
	margin: 1rem;
}

picture,
pre {
	border-radius: 1em !important;
}

/* Lists */

.markdown-content ul {
	list-style: disc;
	padding-left: 2rem;
}

.markdown-content ol {
	list-style: decimal;
	padding-left: 2rem;
}

/* Syntax Highlighting */

code[class*="language-"],
pre[class*="language-"] {
	font-size: 14px;
	line-height: 1.375;
	text-shadow: none;
}

.highlight-line {
	text-decoration: none;
	color: inherit;
}

.highlight-line-active {
	background-color: hsl(220, 13%, 27%);
}

.highlight-line-add {
	background-color: hsl(120, 73%, 75%, 0.25);
}

.highlight-line-remove {
	background-color: rgba(255, 60, 60, 0.25);
}

/* Dropdowns */

.dropdown,
div.dropdown-content {
	display: none;
	list-style: none;
	text-decoration: none;
}

input:checked ~ div.dropdown-content {
	display: block;
}

/* Lazy Images */

.image > picture {
	display: block;
	overflow: hidden;
}

.lazy-img {
	filter: blur(8px);
	transform: scale(1.02);
	transition: all 0.7s ease-out;
}

.lazy-picture[data-loaded] .lazy-img {
	filter: unset;
	transform: none;
}

/* Markdown Content */

.markdown-content > p > a {
	color: var(--accent);
	text-decoration: var(--accent);
	text-decoration-line: underline;
}
