---
title: 404
permalink: /{{ locale }}/404.html
eleventyExcludeFromCollections: true
translation-key: "404"
---

{% extends "layouts/base.njk" %}

{% block content %}
<h1>404 - Page not found.</h1>
{% endblock %}