---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - blog
    - tagList
  addAllPagesToCollections: true
eleventyComputed:
    title: Blog Tag “{{ tag }}”
permalink: /{{ locale }}/blog/tags/{{ tag | slugify }}/
translationKey: "blog-tags"
---

{% extends "layouts/base.njk" %}

{% block content %}
<h2 class="text-2xl">Blog Posts Tagged With #{{ tag | slugify }}</h2>
{% set postslist = collections[ tag ] | reverse %}
{% include "partials/blog-post-list.njk" %}
{% set tagListUrl %}/{{ locale }}/blog/tags/{% endset %}
<p>See <a href="{{ tagListUrl | url }}">all tags</a>.</p>
{% endblock %}
