---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - blog
    - tagList
  addAllPagesToCollections: true
eleventyComputed:
    title: Blog Tag “{{ tag }}”
permalink: /{{ locale }}/tags/{{ tag | slug }}/
translationKey: "blog-tags"
---

{% extends "layouts/base.njk" %}

{% block content %}
<h1>Tagged “{{ tag }}”</h1>
{% set postslist = collections[ tag ] | reverse %}
{% include "partials/blog-list.njk" %}
{% set tagListUrl %}/{{ locale }}/tags/{% endset %}
<p>See <a href="{{ tagListUrl | url }}">all tags</a>.</p>
{% endblock %}
