---
title: Blog Tags List
permalink: /{{ locale }}/blog/tags/
translationKey: "blog-tags-list"
---

{% extends "layouts/base.njk" %}

{% block content %}
<h2 class="text-2xl">Tags</h2>
{% set tags = collections.blogtags_en | reverse %}
{% include "partials/blog-post-tags.njk" %}
{% endblock %}
