---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - blog
    - tagList
  addAllPagesToCollections: true
eleventyComputed:
    title: "Blog Tag: #{{ tag }}"
    description: "List of all blog posts tagged with: #{{ tag }}"
permalink: /{{ locale }}/blog/tags/{{ tag | slugify }}/
translationKey: "blog-tags"
---

{% extends "layouts/base.njk" %}

{% block content %}
<h3>Blog Posts Tagged With #{{ tag | slugify }}:</h3>
<a href="/{{ locale }}/blog/tags/">See all tags.</a>
{% set postslist = collections[ tag ] %}
{% include "partials/blog-post-list.njk" %}
{% set tagListUrl %}/{{ locale }}/blog/tags/{% endset %}
{% endblock %}
