---
title: Blog Posts
description: List of all blog posts
permalink: "/{{ locale }}/blog/index.html"
translationKey: "blogpage"
---

{% extends "layouts/base.njk" %}

{% block content %}
<h3>Blog Tags:</h3>
{% set tags = collections.blogtags_en %}
{% include "partials/blog-post-tags.njk" %}
<br>
<h3>Blog Posts:</h3>
{% set postslist = collections.blogposts_en %}
{% include "partials/blog-post-list.njk" %}
{% endblock %}
