---
title: Blog Posts
permalink: "/{{ locale }}/blog/index.html"
translationKey: "blogpage"
---

{% extends "layouts/base.njk" %}

{% block content %}
<h2 class="text-2xl">Blog Tags</h2>
{% set tags = collections.blogtags_en | reverse %}
{% include "partials/blog-post-tags.njk" %}
<br>
<h2 class="text-2xl">Blog Posts</h2>
{% set postslist = collections.blogposts_en %}
{% include "partials/blog-post-list.njk" %}
{% endblock %}
