{% set tagLimitReached = false %}
{% for tag in tags %}
    {% if tagLimit %}
        {% if loop.index0 >= tagLimit %}
            {% set tagLimitReached = true %}
        {% endif %}
    {% endif %}
    {% if loop.first %}
        <ul class="flex flex-wrap">
    {% endif %}
    {% if not tagLimitReached %}
        <li class="flex text-lg">
            <div class="flex mr-1">
                <a class="flex whitespace-nowrap" href="/{{ locale }}/blog/tags/{{ tag | slugify }}/">
                    <p class="font-medium">#</p>
                    <p class="font-bold">{{ tag | slugify }}</p>
                </a>
                {% if not loop.last %}
                    {% if tagLimit %}
                        {% if loop.index < tagLimit %}
                            ,
                        {% endif %}
                    {% else %}
                        ,
                    {% endif %}
                {% endif %}
            </div>
        </li>
    {% endif %}
    {% if loop.last %}
        </ul>
    {% endif %}
{% endfor %}