{% for post in postslist %}
    {% if loop.first %}<ul class="flex space-x-4">{% endif %}{% if (not post.data.draft) and (not post.data.private) %}
      <li>
        <article>
          <p>Draft: {{ post.data.draft }}</p>
          <p>Private: {{ post.data.private }}</p>
          <h3 class="text-xl"><a class="text-cyan-500" href="{{ post.url }}">{{ post.data.title }}</a></h3>
          {% set tags = post.data.tags %}
          {% include "partials/blog-tags.njk" %}
          <time datetime="{{ post.date | date('Y-MM-DD') }}">{{ post.date | date("DD MMMM[,] Y", locale) }}</time>
        </article>
      </li>
    {% endif %}{% if loop.last %}</ul>{% endif %}
{% endfor %}