<div class="container flex space-x-8 font-extrabold w-auto h-full py-4 ml-auto">
	{# <ul class="flex space-x-8 nav font-extrabold w-max h-full py-4 ml-auto" role="menubar"> #}
	<ul class="hidden sm:flex space-x-8">
		{% for navitem in nav[locale] %}
			<li role="menuitem">
				<a href="{{ navitem.url }}">
					{{ navitem.label }}
				</a>
			</li>
		{% endfor %}
		{# <!-- Language Dropdown -->
		<div>
			<input class="dropdown" type="checkbox" id="language-dropdown"/>
			<label class="flex" for="language-dropdown">
				Language
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
				</svg>
			</label>
			<div class="dropdown-content">
				<ul class="flex flex-col space-y-4 p-4">
					{% for lang in site.languages %}
						{% renderFile "./src/_includes/templates/language-selection.11ty.js", lang %}
					{% endfor %}
				</ul>
			</div>
		</div> #}
	</ul>
	<ul class="flex space-x-8">
		{# Theme picker (only visible if js is enabled, as it'll fallback to using the device theme) #}
		<li class="require-js">
			<a class="block dark:hidden" id="theme-select-dark">
				<svg xmlns="http://www.w3.org/2000/svg" class="fill-main-dark h-5 w-5" viewBox="0 0 20 20">
					<path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z" />
				</svg>
			</a>
			<a class="hidden dark:block" id="theme-select-light">
				<svg xmlns="http://www.w3.org/2000/svg" class="fill-main-light h-5 w-5" viewBox="0 0 20 20">
					<path d="M11 3a1 1 0 10-2 0v1a1 1 0 102 0V3zM15.657 5.757a1 1 0 00-1.414-1.414l-.707.707a1 1 0 001.414 1.414l.707-.707zM18 10a1 1 0 01-1 1h-1a1 1 0 110-2h1a1 1 0 011 1zM5.05 6.464A1 1 0 106.464 5.05l-.707-.707a1 1 0 00-1.414 1.414l.707.707zM5 10a1 1 0 01-1 1H3a1 1 0 110-2h1a1 1 0 011 1zM8 16v-1h4v1a2 2 0 11-4 0zM12 14c.015-.34.208-.646.477-.859a4 4 0 10-4.954 0c.27.213.462.519.476.859h4.002z" />
				</svg>
			</a>
		</li>
	</ul>
	<div class="sm:hidden relative">
		<input class="dropdown" type="checkbox" id="mobile-menu-dropdown"/>
		<label class="flex" for="mobile-menu-dropdown">
			<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
				<path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
			</svg>
		</label>
		<div class="dropdown-content mobile-menu absolute top-0 left-0 w-full h-full pointer-events-none">
			<!--
			This is sneaky trick, the X button still has the `pointer-events` set to none
			but its positioned above the menu button, so you'll actually hit that button,
			triggering the menu to close. This is all to add support for no-js browsers... 
			-->
			<div class="relative z-20">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
					<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
				</svg>
			</div>
			<!-- Background -->
			<div class="fixed top-0 left-0 w-full h-full z-10 bg-opacity-75 dark:bg-opacity-75 bg-main-light dark:bg-main-dark backdrop-blur-lg">
				<!-- Menu Items -->
				<ul class="flex flex-col space-y-4 mt-20 px-6 py-4 w-full h-full box-border text-center pointer-events-auto">
					{% for navitem in nav[locale] %}
						<li class="rounded-2xl border-2 border-main-dark dark:border-main-light px-16 py-2 w-full" role="menuitem">
							<a class="w-full block" href="{{ navitem.url }}">
								{{ navitem.label }}
							</a>
						</li>
					{% endfor %}
					{# <!-- Language Dropdown -->
					<li class="rounded-2xl border-2 border-main-dark dark:border-main-light px-16 py-2 w-full" role="menuitem">
						<input class="dropdown w-full justify-center" type="checkbox" id="mobile-language-dropdown"/>
						<label class="flex justify-center w-full" for="mobile-language-dropdown">
							Language
							<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
							</svg>
						</label>
						<div class="dropdown-content">
							<ul class="flex flex-col space-y-4 p-4">
								{% for lang in site.languages %}
									{% renderFile "./src/_includes/templates/language-selection.11ty.js", lang %}
								{% endfor %}
							</ul>
						</div>
					</li> #}
				</ul>
			</div>
		</div>
	</div>
</div>